.fh-40 {
    min-height: 100vh;
}

h1,
h4,
.btn {
    color: #fff;
}

.f-larger {
    font-size: 4rem;
}

.t-container {
    min-height: 300px;
}

.dark-overlay {
    min-height: 100%;
    width: 100%;
    flex: 1
}

.text-center {
    text-align: center;
}

.btn {
    min-width: 100px;
    background-color: #ac32e4;
}

.btn:hover {
    cursor: pointer;
}

.user-input {
    min-width: 170px;
}

.btn,
.user-input {
    min-height: 50px;
    border-radius: 4px;
    border: none;
    padding: 5px;
}

.sign-up {
    width: auto;
    min-width: 280px;
    font-size: 1.4rem;
    color: black;
}

.user-input:focus {
    outline: none;
}

.main,
.coin-list {
    background-color: #000000;
    background-size: cover;
    background-repeat: no-repeat;
}