.navbar {
    min-height: 55px;
    position: fixed;
    width: 100%;
    top: 0;
    background-color: #000000;
    color: #fff;
    z-index: 1;
}

.navbar .logo {
    min-width: 133px;
}


.search-bar-sm {
    position: fixed;
    display: block;
    z-index: 1;
    top: 60px;
    right: 0;
}

.navbar {
    align-items: center;
    justify-content: center;
}