* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

body {
  min-height: 100vh;
}

.coin-app {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.coin-search {
  margin-bottom: 64px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.coin-input {
  padding-left: 16px;
  min-width: 250px;
  width: auto;
  min-height: 40px;
  border-radius: 4px;
  border: none;
  background-image: linear-gradient(-255deg,
      #ac32e4 0%,
      #7918f2 40%,
      #4801ff 100%);
  color: white;
  transition: all 2s ease-in-out;
}

.coin-input:focus {
  outline: none;
}

.coin-input::placeholder {
  color: #e2e2e2;
}

.head-title.list-unstyled {
  width: 100%;
  list-style-type: none;
}

.list-unstyled {
  list-style-type: none;
}

.list-unstyled>li {
  width: 120px;
}

@media screen and (max-width: 992px) {
  .head-title.list-unstyled {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .coin-app {
    display: flex;
  }
}